﻿<!DOCTYPE html>
<html lang="en-US">
<head>
    <script type="text/javascript"> document.offlinePagesMetadata=window.offlinePagesMetadata={url:'http://naseemedu.org/'} </script>
    <script type="text/javascript" src="~/Assets/js/--op-start-head.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>مكتب التعليم بالنسيم</title>
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="http://naseemedu.org/xmlrpc.php" />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="مكتب التعليم بالنسيم &raquo; Feed" href="~/Assets/rss/feed.rss" />
    <link rel="alternate" type="application/rss+xml" title="مكتب التعليم بالنسيم &raquo; Comments Feed" href="~/Assets/rss/feed_KVA2g3.rss" />
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/naseemedu.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.5"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56692,8205,9792,65039],[55357,56692,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='aqpb-view-css-css' href='~/Assets/css/aqpb-view.css?ver=1542774568' type='text/css' media='all' />
    <link rel='stylesheet' id='inoplugs_backgrounds_css-css' href='~/Assets/css/wp-backgrounds.css?ver=4.9.5' type='text/css' media='all' />
    <link rel='stylesheet' id='formidable-css' href='http://naseemedu.org/wp-admin/admin-ajax.php?action=frmpro_css&#038;ver=621011' type='text/css' media='all' />
    <link rel='stylesheet' id='layerslider_css-css' href='~/Assets/css/layerslider.css?ver=3.5.0' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='~/Assets/css/styles.css?ver=3.6' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='~/Assets/css/settings.css?ver=5.4.7.1' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='wp-super-clients-css' href='~/Assets/css/wp-super-clients.css?ver=4.9.5' type='text/css' media='all' />
    <link rel='stylesheet' id='metcreative-style-css' href='~/Assets/css/style.css?ver=4.9.5' type='text/css' media='all' />
    <link rel='stylesheet' id='metcreative-google-font-css' href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C700&#038;ver=4.9.5' type='text/css' media='all' />
    <link rel='stylesheet' id='metcreative-bootstrap-css' href='~/Assets/css/bootstrap.css?ver=4.9.5' type='text/css' media='all' />
    <link rel='stylesheet' id='metcreative-font-awesome-css' href='~/Assets/css/font-awesome.min.css?ver=4.9.5' type='text/css' media='all' />
    <link rel='stylesheet' id='metcreative-dl-menu-css' href='~/Assets/css/dl-menu.css?ver=4.9.5' type='text/css' media='all' />
    <link rel='stylesheet' id='metcreative-superfish-css' href='~/Assets/css/superfish.css?ver=4.9.5' type='text/css' media='all' />
    <link rel='stylesheet' id='metcreative-custom-css' href='~/Assets/css/custom.css?ver=4.9.5' type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='~/Assets/css/js_composer.min.css?ver=5.4.7' type='text/css' media='all' />
    <script type='text/javascript' src='~/Assets/js/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='~/Assets/js/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='~/Assets/js/jquery.hoverIntent.minified.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/jquery.cookie.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/jquery.dcjqaccordion.2.9.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/layerslider.kreaturamedia.jquery.js?ver=3.5.0'></script>
    <script type='text/javascript' src='~/Assets/js/jquery-easing-1.3.js?ver=1.3.0'></script>
    <script type='text/javascript' src='~/Assets/js/jquery.themepunch.tools.min.js?ver=5.4.7.1'></script>
    <script type='text/javascript' src='~/Assets/js/jquery.themepunch.revolution.min.js?ver=5.4.7.1'></script>
    <script type='text/javascript' src='~/Assets/js/modernizr.custom.65274.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/hoverIntent.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/superfish.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/mobile_detector.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/imagesLoaded.js?ver=4.9.5'></script>
    <link rel='https://api.w.org/' href='http://naseemedu.org/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://naseemedu.org/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://naseemedu.org/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.5" />
    <link rel="canonical" href="http://naseemedu.org/" />
    <link rel='shortlink' href='http://naseemedu.org/' />
    <link rel="alternate" type="application/json+oembed" href="http://naseemedu.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fnaseemedu.org%2F" />
    <link rel="alternate" type="text/xml+oembed" href="http://naseemedu.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fnaseemedu.org%2F&#038;format=xml" />

    <!--

    ###############################################################################
    #                      Fullscreen Backgrounds generated by                    #
    #       WP-Backgrounds Lite Plugin by InoPlugs (http://inoplugs.com)          #
    ###############################################################################

    -->
    <script type='text/javascript' src='~/Assets/js/wp-backgrounds.js'></script>
    <style type="text/css">
        #supersized {
            z-index: -1 !important;
        }
    </style>
    <script type='text/javascript'>

			jQuery(document).ready(function() {
				jQuery(function($){
					$.supersized({
slides : [ {image : 'http://naseemedu.org/wp-content/uploads/2013/08/bg.jpg'  } ]
});
 });
 });
    </script>
    <!-- end of function - WP-Backgrounds by InoPlugs -->

    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://naseemedu.org/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
    <meta name="generator" content="Powered by Slider Revolution 5.4.7.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">
function setREVStartSize(e){
						try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
							if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
						}catch(d){console.log("Failure at Presize of Slider:"+d)}
					};</script>
    <link rel="shortcut icon" href="http://naseemedu.org/wp-content/themes/naseemedu/img/fav.png">
    <style type="text/css">
        .met_bgcolor, .met_bgcolor_transition:hover {
            background-color: #18adb5;
        }

        .met_color, .met_color_transition:hover, .met_title_with_pager nav a.selected {
            color: #18adb5;
        }

        .met_bgcolor_trans {
            background-color: rgba(24,173,181,0.8);
        }

        .met_blog_list_preview aside:after, .met_blog_comments_title:before {
            border-top-color: #18adb5;
        }

        .met_blog_comment_count {
            border-left-color: #18adb5;
        }
    </style>
    <style id="met_live_color"></style><!-- |naseemedu, 1.0.1| -->
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1527302640222 {
            margin-top: -40px !important;
        }

        .vc_custom_1527379529148 {
            margin-top: 50px !important;
        }

        .vc_custom_1527379641345 {
            margin-top: 50px !important;
        }

        .vc_custom_1527320120102 {
            margin-right: 2px !important;
            margin-left: 2px !important;
            padding-top: 110px !important;
            padding-bottom: 110px !important;
            background-image: url(Your-image-here2.jpg?id=1225) !important;
        }

        .vc_custom_1527320126686 {
            margin-right: 2px !important;
            margin-left: 2px !important;
            background-color: #ffffff !important;
        }

        .vc_custom_1527315410896 {
            background-color: #ffffff !important;
        }

        .vc_custom_1527315312667 {
            margin-top: -35px !important;
            padding-top: 15px !important;
            padding-right: 15px !important;
            padding-bottom: 15px !important;
            padding-left: 15px !important;
        }

        .vc_custom_1527320108166 {
            margin-right: 2px !important;
            margin-left: 2px !important;
            padding-top: 110px !important;
            padding-bottom: 110px !important;
            background-image: url(Your-image-here3.jpg?id=1226) !important;
        }

        .vc_custom_1527320113733 {
            margin-right: 2px !important;
            margin-left: 2px !important;
            background-color: #ffffff !important;
        }

        .vc_custom_1527315410896 {
            background-color: #ffffff !important;
        }

        .vc_custom_1527315312667 {
            margin-top: -35px !important;
            padding-top: 15px !important;
            padding-right: 15px !important;
            padding-bottom: 15px !important;
            padding-left: 15px !important;
        }

        .vc_custom_1527320096439 {
            margin-right: 2px !important;
            margin-left: 2px !important;
            padding-top: 110px !important;
            padding-bottom: 110px !important;
            background-image: url(Your-image-here.jpg?id=1224) !important;
        }

        .vc_custom_1527320102694 {
            margin-right: 2px !important;
            margin-left: 2px !important;
            background-color: #ffffff !important;
        }

        .vc_custom_1527315410896 {
            background-color: #ffffff !important;
        }

        .vc_custom_1527315312667 {
            margin-top: -35px !important;
            padding-top: 15px !important;
            padding-right: 15px !important;
            padding-bottom: 15px !important;
            padding-left: 15px !important;
        }

        .vc_custom_1527379411034 {
            padding-top: 30px !important;
        }

        .vc_custom_1527379411034 {
            padding-top: 30px !important;
        }
    </style>
    <noscript>
    <style type="text/css">
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
    </style></noscript>
    <script type="text/javascript" src="~/Assets/js/--op-end-head.js" defer></script>
</head>
<body class="home page-template page-template-home-page page-template-home-page-php page page-id-51 clearfix wpb-js-composer js-comp-ver-5.4.7 vc_responsive" data-smooth-scrolling="1">

    <div class="met_page_wrapper ">
        <header style="background: rgba(0,0,0,0.03) !important; padding: 5px 0px 10px 0px;">
            <div class="row-fluid met_content">
                <div class="span12" style="direction:rtl;">
                    <div class="clearfix" style="float:left">
                        <a href="https://www.facebook.com/" target="_self" class="met_color3 met_color_transition"><i class="icon-facebook"></i></a> <a href="https://twitter.com/" target="_self" class="met_color3 met_color_transition"><i class="icon-twitter"></i></a>
                    </div>
                    <div class="clearfix" style="float:right; margin-right: 15px;">
                        <nav>
                            <ul>
                                <li><a href="#" target="" class="met_color_transition ">تسجـيـل الـدخـول</a></li>
                                <li><a href="http://naseemedu.org/%d8%a7%d9%84%d8%b4%d9%83%d8%a7%d9%88%d9%8a-%d9%88%d8%a7%d9%84%d9%85%d9%82%d8%aa%d8%b1%d8%ad%d8%a7%d8%aa/" target="" class="met_color_transition ">الشكاوي والمقترحات</a></li>
                                <li><a href="#" target="" class="met_color_transition ">بوابة نور</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <header class="met_content">
            <div class="row-fluid">
                <div class="span12" style="direction:rtl">

                    <div style="float:left; margin-top: 13px" class="clearfix">
                        <a href="http://naseemedu.org/"><img src="~/Assets/img/edu-logo.png" data-retina="edu-logo@2x.png" height="126" width="126" style="height:126px; width:126px" alt="" /></a>
                    </div>

                    <a href="http://naseemedu.org/" class="met_logo met_logo_loading"><img src="~/Assets/img/logo.png" data-retina="logo@2x.png" height="120" style="height: 120px" alt="مكتب التعليم بالنسيم" /></a>


                    <div id="dl-menu" class="dl-menuwrapper">
                        <button class="met_bgcolor met_bgcolor_transition2">MENU</button>
                        <ul class="dl-menu met_bgcolor7">
                            <li><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/" target="">مكتب التعليم بالنسيم</a><ul class="dl-submenu"><li class="dl-back"><a href="#">back</a></li><li><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/" target="">مكتب التعليم بالنسيم</a><li><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/%d8%b9%d9%86-%d8%a7%d9%84%d9%85%d9%83%d8%aa%d8%a8/" target="">عن المكتب</a></li><li><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/%d8%a7%d9%84%d8%ba%d8%a7%d9%8a%d8%a9-%d9%88%d8%a7%d9%84%d9%85%d8%b3%d9%8a%d8%b1%d8%a9/" target="">كلمة مدير المكتب</a></li><li><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/%d8%a7%d9%84%d8%b1%d8%a4%d9%8a%d8%a9-%d9%88-%d8%a7%d9%84%d8%b1%d8%b3%d8%a7%d9%84%d8%a9/" target="">الرؤية و الرسالة</a></li><li><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/%d8%a7%d9%84%d9%87%d9%8a%d9%83%d9%84-%d8%a7%d9%84%d8%aa%d9%86%d8%b8%d9%8a%d9%85%d9%8a/" target="">الهيكل التنظيمي</a></li><li><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/%d8%a7%d9%84%d9%85%d9%88%d9%82%d8%b9-%d8%a7%d9%84%d8%ac%d8%ba%d8%b1%d8%a7%d9%81%d9%8a-%d9%84%d9%84%d9%85%d9%83%d8%aa%d8%a8/" target="">الموقع الجغرافي للمكتب</a></li><li><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/%d8%b4%d8%b1%d9%83%d8%a7%d8%a1-%d8%a7%d9%84%d9%86%d8%ac%d8%a7%d8%ad/" target="">شركاء النجاح</a></li><li><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/%d8%b9%d9%85%d9%84%d8%a7%d8%a6%d9%86%d8%a7/" target="">عملائنا</a></li></ul></li>
                            <li><a href="http://naseemedu.org/%d8%a7%d9%84%d9%85%d9%83%d8%aa%d8%a8%d8%a9-%d8%a7%d9%84%d8%a7%d9%84%d9%83%d8%aa%d8%b1%d9%88%d9%86%d9%8a%d8%a9/" target="">المكتبة الالكترونية</a></li>
                            <li><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/" target="">الشعب الاشرافية</a><ul class="dl-submenu"><li class="dl-back"><a href="#">back</a></li><li><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/" target="">الشعب الاشرافية</a><li><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%a7%d8%ac%d8%aa%d9%85%d8%a7%d8%b9%d9%8a%d8%a7%d8%aa/" target="">الاجتماعيات</a></li><li><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%aa%d8%b1%d8%a8%d9%8a%d8%a9-%d8%a7%d9%84%d8%a8%d8%af%d9%86%d9%8a%d8%a9/" target="">التربية البدنية</a></li><li><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%aa%d8%b1%d8%a8%d9%8a%d8%a9-%d8%a7%d9%84%d9%81%d9%86%d9%8a%d8%a9/" target="">التربية الفنية</a></li><li><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%ad%d8%a7%d8%b3%d8%a8-%d8%a7%d9%84%d8%a2%d9%84%d9%8a/" target="">الحاسب الآلي</a></li><li><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%b1%d9%8a%d8%a7%d8%b6%d9%8a%d8%a7%d8%aa/" target="">الرياضيات</a></li><li><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%b5%d9%81%d9%88%d9%81-%d8%a7%d9%84%d8%a3%d9%88%d9%84%d9%8a%d8%a9/" target="">الصفوف الأولية</a></li><li><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%b9%d9%84%d9%88%d9%85/" target="">العلوم</a></li><li><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d9%84%d8%ba%d8%a9-%d8%a7%d9%84%d8%a5%d9%86%d8%ac%d9%84%d9%8a%d8%b2%d9%8a%d8%a9/" target="">اللغة الإنجليزية</a></li></ul></li>
                            <li><a href="http://naseemedu.org/%d8%ad%d8%a7%d9%84%d8%a9-%d8%a7%d9%84%d9%85%d9%8a%d8%af%d8%a7%d9%86/" target="">حالة الميدان</a></li>
                            <li><a href="http://naseemedu.org/%d8%b3%d9%8a%d8%b1-%d8%a7%d9%84%d8%a7%d8%ae%d8%aa%d8%a8%d8%a7%d8%b1%d8%a7%d8%aa/" target="">سير الاختبارات</a></li>
                            <li><a href="http://naseemedu.org/%d8%af%d9%84%d9%8a%d9%84-%d8%a7%d9%84%d9%85%d8%af%d8%a7%d8%b1%d8%b3/" target="">دليل المدارس</a></li>
                            <li><a href="http://naseemedu.org/contact/" target="">تواصل معنا</a></li>
                        </ul>
                    </div><!-- /dl-menuwrapper -->
                </div>
            </div>
        </header><!-- Header Ends  -->
        <nav class="met_content met_main_nav met_bgcolor3 clearfix" data-fixed="1">
            <ul>
                <li><a href="http://naseemedu.org/" class="met_menu_home"><i class="icon-home"></i></a></li>
                <li class=""><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/" target="">مكتب التعليم بالنسيم</a><ul><li class=" "><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/%d8%b9%d9%86-%d8%a7%d9%84%d9%85%d9%83%d8%aa%d8%a8/" target="">عن المكتب</a></li><li class=" "><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/%d8%a7%d9%84%d8%ba%d8%a7%d9%8a%d8%a9-%d9%88%d8%a7%d9%84%d9%85%d8%b3%d9%8a%d8%b1%d8%a9/" target="">كلمة مدير المكتب</a></li><li class=" "><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/%d8%a7%d9%84%d8%b1%d8%a4%d9%8a%d8%a9-%d9%88-%d8%a7%d9%84%d8%b1%d8%b3%d8%a7%d9%84%d8%a9/" target="">الرؤية و الرسالة</a></li><li class=" "><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/%d8%a7%d9%84%d9%87%d9%8a%d9%83%d9%84-%d8%a7%d9%84%d8%aa%d9%86%d8%b8%d9%8a%d9%85%d9%8a/" target="">الهيكل التنظيمي</a></li><li class=" "><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/%d8%a7%d9%84%d9%85%d9%88%d9%82%d8%b9-%d8%a7%d9%84%d8%ac%d8%ba%d8%b1%d8%a7%d9%81%d9%8a-%d9%84%d9%84%d9%85%d9%83%d8%aa%d8%a8/" target="">الموقع الجغرافي للمكتب</a></li><li class=" "><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/%d8%b4%d8%b1%d9%83%d8%a7%d8%a1-%d8%a7%d9%84%d9%86%d8%ac%d8%a7%d8%ad/" target="">شركاء النجاح</a></li><li class=" "><a href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/%d8%b9%d9%85%d9%84%d8%a7%d8%a6%d9%86%d8%a7/" target="">عملائنا</a></li></ul></li>
                <li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d9%85%d9%83%d8%aa%d8%a8%d8%a9-%d8%a7%d9%84%d8%a7%d9%84%d9%83%d8%aa%d8%b1%d9%88%d9%86%d9%8a%d8%a9/" target="">المكتبة الالكترونية</a></li>
                <li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/" target="">الشعب الاشرافية</a><ul><li class="met_has_lower "><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%a7%d8%ac%d8%aa%d9%85%d8%a7%d8%b9%d9%8a%d8%a7%d8%aa/" target="">الاجتماعيات</a><ul><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%a7%d8%ac%d8%aa%d9%85%d8%a7%d8%b9%d9%8a%d8%a7%d8%aa/%d8%a3%d8%b9%d8%b6%d8%a7%d8%a1-%d8%a7%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">أعضاء الشعبة</a></li><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%a7%d8%ac%d8%aa%d9%85%d8%a7%d8%b9%d9%8a%d8%a7%d8%aa/%d8%a7%d9%84%d9%85%d9%83%d8%aa%d8%a8%d8%a9-%d8%a7%d9%84%d8%a7%d9%84%d9%83%d8%aa%d8%b1%d9%88%d9%86%d9%8a%d8%a9-%d9%84%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">المكتبة الالكترونية للشعبة</a></li></ul></li><li class="met_has_lower "><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%aa%d8%b1%d8%a8%d9%8a%d8%a9-%d8%a7%d9%84%d8%a8%d8%af%d9%86%d9%8a%d8%a9/" target="">التربية البدنية</a><ul><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%aa%d8%b1%d8%a8%d9%8a%d8%a9-%d8%a7%d9%84%d8%a8%d8%af%d9%86%d9%8a%d8%a9/%d8%a3%d8%b9%d8%b6%d8%a7%d8%a1-%d8%a7%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">أعضاء الشعبة</a></li><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%aa%d8%b1%d8%a8%d9%8a%d8%a9-%d8%a7%d9%84%d8%a8%d8%af%d9%86%d9%8a%d8%a9/%d8%a7%d9%84%d9%85%d9%83%d8%aa%d8%a8%d8%a9-%d8%a7%d9%84%d8%a7%d9%84%d9%83%d8%aa%d8%b1%d9%88%d9%86%d9%8a%d8%a9-%d9%84%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">المكتبة الالكترونية للشعبة</a></li></ul></li><li class="met_has_lower "><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%aa%d8%b1%d8%a8%d9%8a%d8%a9-%d8%a7%d9%84%d9%81%d9%86%d9%8a%d8%a9/" target="">التربية الفنية</a><ul><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%aa%d8%b1%d8%a8%d9%8a%d8%a9-%d8%a7%d9%84%d9%81%d9%86%d9%8a%d8%a9/%d8%a3%d8%b9%d8%b6%d8%a7%d8%a1-%d8%a7%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">أعضاء الشعبة</a></li><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%aa%d8%b1%d8%a8%d9%8a%d8%a9-%d8%a7%d9%84%d9%81%d9%86%d9%8a%d8%a9/%d8%a7%d9%84%d9%85%d9%83%d8%aa%d8%a8%d8%a9-%d8%a7%d9%84%d8%a7%d9%84%d9%83%d8%aa%d8%b1%d9%88%d9%86%d9%8a%d8%a9-%d9%84%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">المكتبة الالكترونية للشعبة</a></li></ul></li><li class="met_has_lower "><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%ad%d8%a7%d8%b3%d8%a8-%d8%a7%d9%84%d8%a2%d9%84%d9%8a/" target="">الحاسب الآلي</a><ul><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%ad%d8%a7%d8%b3%d8%a8-%d8%a7%d9%84%d8%a2%d9%84%d9%8a/%d8%a3%d8%b9%d8%b6%d8%a7%d8%a1-%d8%a7%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">أعضاء الشعبة</a></li><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%ad%d8%a7%d8%b3%d8%a8-%d8%a7%d9%84%d8%a2%d9%84%d9%8a/%d8%a7%d9%84%d9%85%d9%83%d8%aa%d8%a8%d8%a9-%d8%a7%d9%84%d8%a7%d9%84%d9%83%d8%aa%d8%b1%d9%88%d9%86%d9%8a%d8%a9-%d9%84%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">المكتبة الالكترونية للشعبة</a></li></ul></li><li class="met_has_lower "><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%b1%d9%8a%d8%a7%d8%b6%d9%8a%d8%a7%d8%aa/" target="">الرياضيات</a><ul><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%b1%d9%8a%d8%a7%d8%b6%d9%8a%d8%a7%d8%aa/%d8%a3%d8%b9%d8%b6%d8%a7%d8%a1-%d8%a7%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">أعضاء الشعبة</a></li><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%b1%d9%8a%d8%a7%d8%b6%d9%8a%d8%a7%d8%aa/%d8%a7%d9%84%d9%85%d9%83%d8%aa%d8%a8%d8%a9-%d8%a7%d9%84%d8%a7%d9%84%d9%83%d8%aa%d8%b1%d9%88%d9%86%d9%8a%d8%a9-%d9%84%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">المكتبة الالكترونية للشعبة</a></li></ul></li><li class="met_has_lower "><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%b5%d9%81%d9%88%d9%81-%d8%a7%d9%84%d8%a3%d9%88%d9%84%d9%8a%d8%a9/" target="">الصفوف الأولية</a><ul><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%b5%d9%81%d9%88%d9%81-%d8%a7%d9%84%d8%a3%d9%88%d9%84%d9%8a%d8%a9/%d8%a3%d8%b9%d8%b6%d8%a7%d8%a1-%d8%a7%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">أعضاء الشعبة</a></li><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%b5%d9%81%d9%88%d9%81-%d8%a7%d9%84%d8%a3%d9%88%d9%84%d9%8a%d8%a9/%d8%a7%d9%84%d9%85%d9%83%d8%aa%d8%a8%d8%a9-%d8%a7%d9%84%d8%a7%d9%84%d9%83%d8%aa%d8%b1%d9%88%d9%86%d9%8a%d8%a9-%d9%84%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">المكتبة الالكترونية للشعبة</a></li></ul></li><li class="met_has_lower "><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%b9%d9%84%d9%88%d9%85/" target="">العلوم</a><ul><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%b9%d9%84%d9%88%d9%85/%d8%a3%d8%b9%d8%b6%d8%a7%d8%a1-%d8%a7%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">أعضاء الشعبة</a></li><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d8%b9%d9%84%d9%88%d9%85/%d8%a7%d9%84%d9%85%d9%83%d8%aa%d8%a8%d8%a9-%d8%a7%d9%84%d8%a7%d9%84%d9%83%d8%aa%d8%b1%d9%88%d9%86%d9%8a%d8%a9-%d9%84%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">المكتبة الالكترونية للشعبة</a></li></ul></li><li class="met_has_lower "><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d8%a7%d9%84%d9%84%d8%ba%d8%a9-%d8%a7%d9%84%d8%a5%d9%86%d8%ac%d9%84%d9%8a%d8%b2%d9%8a%d8%a9/" target="">اللغة الإنجليزية</a><ul><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d9%82%d9%8a%d8%a7%d8%b3-%d8%a7%d9%84%d8%b9%d8%a7%d8%a6%d8%af-%d9%85%d9%86-%d8%a7%d9%84%d8%aa%d8%af%d8%b1%d9%8a%d8%a8/%d8%a3%d8%b9%d8%b6%d8%a7%d8%a1-%d8%a7%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">أعضاء الشعبة</a></li><li class=""><a href="http://naseemedu.org/%d8%a7%d9%84%d8%ae%d8%af%d9%85%d8%a7%d8%aa/%d9%82%d9%8a%d8%a7%d8%b3-%d8%a7%d9%84%d8%b9%d8%a7%d8%a6%d8%af-%d9%85%d9%86-%d8%a7%d9%84%d8%aa%d8%af%d8%b1%d9%8a%d8%a8/%d8%a7%d9%84%d9%85%d9%83%d8%aa%d8%a8%d8%a9-%d8%a7%d9%84%d8%a7%d9%84%d9%83%d8%aa%d8%b1%d9%88%d9%86%d9%8a%d8%a9-%d9%84%d9%84%d8%b4%d8%b9%d8%a8%d8%a9/" target="">المكتبة الالكترونية للشعبة</a></li></ul></li></ul></li>
                <li class=""><a href="http://naseemedu.org/%d8%ad%d8%a7%d9%84%d8%a9-%d8%a7%d9%84%d9%85%d9%8a%d8%af%d8%a7%d9%86/" target="">حالة الميدان</a></li>
                <li class=""><a href="http://naseemedu.org/%d8%b3%d9%8a%d8%b1-%d8%a7%d9%84%d8%a7%d8%ae%d8%aa%d8%a8%d8%a7%d8%b1%d8%a7%d8%aa/" target="">سير الاختبارات</a></li>
                <li class=""><a href="http://naseemedu.org/%d8%af%d9%84%d9%8a%d9%84-%d8%a7%d9%84%d9%85%d8%af%d8%a7%d8%b1%d8%b3/" target="">دليل المدارس</a></li>
                <li class=""><a href="http://naseemedu.org/contact/" target="">تواصل معنا</a></li>
            </ul>
            <div class="pull-right met_bgcolor met_menu_search_wrapper">
                <form class="met_menu_search" method="get" action="http://naseemedu.org/">
                    <input type="text" name="s" class="met_menu_search_text" required placeholder="بحث" style="font-size:16px">
                    <div class="met_menu_search_submit"><i class="icon-search"></i></div>
                </form>
            </div>

        </nav><!-- Menu Ends  -->
        <div id="rev_slider_28_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:#ffffff;padding:0px;margin-top:0px;margin-bottom:20px;">
            <!-- START REVOLUTION SLIDER 5.4.7.1 fullwidth mode -->
            <div id="rev_slider_28_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7.1">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-62" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="Banner11-100x50.jpg" data-delay="8000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/Assets/img/Banner11.jpg" alt="" title="Banner11" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-62-layer-3"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="41"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-type="image"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 5;"><img src="~/Assets/img/button-explore.png" alt="" data-ww="150px" data-hh="39px" width="190" height="50" data-no-retina></div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-62-layer-4"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="-73"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-type="image"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6;"><img src="~/Assets/img/text-1.png" alt="" data-ww="550px" data-hh="126px" width="778" height="178" data-no-retina></div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-70" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="3170954_print-100x50.jpg" data-delay="8000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/Assets/img/3170954_print.jpg" alt="" title="3170954_print" width="2508" height="1672" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-70-layer-3"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="41"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-type="image"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 5;"><img src="~/Assets/img/button-explore.png" alt="" data-ww="150px" data-hh="39px" width="190" height="50" data-no-retina></div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-70-layer-4"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="-73"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-type="image"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6;"><img src="~/Assets/img/text-1.png" alt="" data-ww="550px" data-hh="126px" width="778" height="178" data-no-retina></div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                             id="slide-70-layer-5"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset=""
                             data-width="['full','full','full','full']"
                             data-height="['full','full','full','full']"
                             data-type="shape"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 7;background-color:rgba(6,91,56,0.5);"></div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-71" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="Banner11-100x50.jpg" data-delay="8000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/Assets/img/Banner11.jpg" alt="" title="Banner11" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-71-layer-3"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="41"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-type="image"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 5;"><img src="~/Assets/img/button-explore.png" alt="" data-ww="150px" data-hh="39px" width="190" height="50" data-no-retina></div>
                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-71-layer-4"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="-73"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-type="image"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6;"><img src="~/Assets/img/text-1.png" alt="" data-ww="550px" data-hh="126px" width="778" height="178" data-no-retina></div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-72" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-thumb="Banner11-100x50.jpg" data-delay="8000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/Assets/img/Banner11.jpg" alt="" title="Banner11" width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-72-layer-3"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="41"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-type="image"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 5;"><img src="~/Assets/img/button-explore.png" alt="" data-ww="150px" data-hh="39px" width="190" height="50" data-no-retina></div>
                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-72-layer-4"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="-73"
                             data-width="['none','none','none','none']"
                             data-height="['none','none','none','none']"
                             data-type="image"
                             data-basealign="slide"
                             data-responsive_offset="on"
                             data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6;"><img src="~/Assets/img/text-1.png" alt="" data-ww="550px" data-hh="126px" width="778" height="178" data-no-retina></div>
                    </li>
                </ul>
                <script>
var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
						if(htmlDiv) {
							htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
						}else{
							var htmlDiv = document.createElement("div");
							htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
							document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
						}
                </script>
                <div class="tp-bannertimer" style="height: 5px; background: rgba(0,0,0,0.15);"></div>
            </div>
            <script>
var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
            </script>
            <script type="text/javascript">
if (setREVStartSize!==undefined) setREVStartSize(
	{c: '#rev_slider_28_1', gridwidth: [1240], gridheight: [868], sliderLayout: 'fullwidth'});

var revapi28,
	tpj;
(function() {
	if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded",onLoad)
		else
	onLoad();

	function onLoad() {
		if (tpj===undefined) {
			tpj = jQuery;

			if("on" == "on") tpj.noConflict();
		}
	if(tpj("#rev_slider_28_1").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_28_1");
	}else{
		revapi28 = tpj("#rev_slider_28_1").show().revolution({
			sliderType:"standard",
			jsFileLocation:"//naseemedu.org/wp-content/plugins/revslider/public/assets/js/",
			sliderLayout:"fullwidth",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				keyboardNavigation:"off",
				keyboard_direction: "horizontal",
				mouseScrollNavigation:"off",
 							mouseScrollReverse:"default",
				onHoverStop:"on",
				touch:{
					touchenabled:"on",
					touchOnDesktop:"off",
					swipe_threshold: 75,
					swipe_min_touches: 1,
					swipe_direction: "horizontal",
					drag_block_vertical: false
				}
				,
				arrows: {
					style:"hesperiden",
					enable:true,
					hide_onmobile:false,
					hide_onleave:false,
					tmp:'',
					left: {
						h_align:"left",
						v_align:"center",
						h_offset:0,
						v_offset:0
					},
					right: {
						h_align:"right",
						v_align:"center",
						h_offset:20,
						v_offset:0
					}
				}
			},
			visibilityLevels:[1240,1024,778,480],
			gridwidth:1240,
			gridheight:868,
			lazyType:"none",
			shadow:2,
			spinner:"spinner0",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}; /* END OF revapi call */

 }; /* END OF ON LOAD FUNCTION */
}()); /* END OF WRAPPING FUNCTION */
            </script>
            <script>
					var htmlDivCss = unescape(".hesperiden.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A100%3B%0A%20%20%20%20border-radius%3A%2050%25%3B%0A%7D%0A.hesperiden.tparrows%3Ahover%20%7B%0A%09background%3Argba%280%2C%200%2C%200%2C%201%29%3B%0A%7D%0A.hesperiden.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%22revicons%22%3B%0A%09font-size%3A20px%3B%0A%09color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A.hesperiden.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce82c%22%3B%0A%20%20%20%20margin-left%3A-3px%3B%0A%7D%0A.hesperiden.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce82d%22%3B%0A%20%20%20%20margin-right%3A-3px%3B%0A%7D%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}
					else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
            </script>
        </div><!-- END REVOLUTION SLIDER -->
        <div class="met_content">
            @RenderBody()

            @*<article id="post-51" class="post-51 page type-page status-publish hentry">
                <div class="entry-content single-page">
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1527302640222">
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1527320120102 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1527320126686 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-top vc_row-flex">
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
                                            <div class="vc_column-inner vc_custom_1527315410896">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element  vc_custom_1527315312667">
                                                        <div class="wpb_wrapper">
                                                            <p>آخر أخبار مكتب التعليم بالنسيم من فعاليات و أحداث ومتابعة سير آخر أخبار مكتب التعليم</p>
                                                        </div>
                                                    </div>
                                                    <div class="vc_btn3-container vc_btn3-right">
                                                        <button class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-outline vc_btn3-icon-left vc_btn3-color-info"><i class="vc_btn3-icon fa fa-chevron-left"></i> أقرء المزيد</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1527320108166 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1527320113733 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-top vc_row-flex">
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
                                            <div class="vc_column-inner vc_custom_1527315410896">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element  vc_custom_1527315312667">
                                                        <div class="wpb_wrapper">
                                                            <p>آخر أخبار مكتب التعليم بالنسيم من فعاليات و أحداث ومتابعة سير آخر أخبار مكتب التعليم</p>
                                                        </div>
                                                    </div>
                                                    <div class="vc_btn3-container vc_btn3-right">
                                                        <button class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-outline vc_btn3-icon-left vc_btn3-color-info"><i class="vc_btn3-icon fa fa-chevron-left"></i> أقرء المزيد</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1527320096439 vc_row-has-fill"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div></div><div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1527320102694 vc_row-has-fill vc_row-o-equal-height vc_row-o-content-top vc_row-flex">
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
                                            <div class="vc_column-inner vc_custom_1527315410896">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element  vc_custom_1527315312667">
                                                        <div class="wpb_wrapper">
                                                            <p>آخر أخبار مكتب التعليم بالنسيم من فعاليات و أحداث ومتابعة سير آخر أخبار مكتب التعليم</p>
                                                        </div>
                                                    </div>
                                                    <div class="vc_btn3-container vc_btn3-right">
                                                        <button class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-outline vc_btn3-icon-left vc_btn3-color-info"><i class="vc_btn3-icon fa fa-chevron-left"></i> أقرء المزيد</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="vc_row wpb_row vc_row-fluid vc_custom_1527379529148">
                        <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_left">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="182" height="182" src="Layer-751.png" class="vc_single_image-img attachment-full" alt="" srcset="Layer-751.png 182w, Layer-751-150x150.png 150w" sizes="(max-width: 182px) 100vw, 182px" /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_left">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="180" height="180" src="MOE-1.png" class="vc_single_image-img attachment-full" alt="" srcset="MOE-1.png 180w, MOE-1-150x150.png 150w" sizes="(max-width: 180px) 100vw, 180px" /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_left">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="180" height="180" src="Layer-748.png" class="vc_single_image-img attachment-full" alt="" srcset="Layer-748.png 180w, Layer-748-150x150.png 150w" sizes="(max-width: 180px) 100vw, 180px" /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_left">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="180" height="180" src="مدارس-المستقبل.png" class="vc_single_image-img attachment-full" alt="" srcset="مدارس-المستقبل.png 180w, مدارس-المستقبل-150x150.png 150w" sizes="(max-width: 180px) 100vw, 180px" /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_left">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="182" height="182" src="iso-2.png" class="vc_single_image-img attachment-full" alt="" srcset="iso-2.png 182w, iso-2-150x150.png 150w" sizes="(max-width: 182px) 100vw, 182px" /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_left">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="180" height="180" src="Layer-747-1.png" class="vc_single_image-img attachment-full" alt="" srcset="Layer-747-1.png 180w, Layer-747-1-150x150.png 150w" sizes="(max-width: 180px) 100vw, 180px" /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-10">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h1 style="text-align: right;">الرؤية والرسالة</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-2">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_right vc_separator_no_text vc_custom_1527379411034  vc_custom_1527379411034">
                                                        <span class="vc_sep_holder vc_sep_holder_l"><span style="border-color:#c9c9c9;" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span style="border-color:#c9c9c9;" class="vc_sep_line"></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p style="text-align: right;">أن نمضي لتحقيق الجودة معتزين بديننا منتمين لوطننا منتجين للمعرفة ساعين للمنافسة العالمية واضعين رضا المستفيد هدفاَ نحرص على تطويره دوماَ, يستمر معنا متبعين سياسة الجودة التي تقوم على إنشاء نظام إدارة الجودة والتطبيق والتحسين المستمر الذي يتوافق مع أحدث إصدارات ومتطلبات المواصفة القياسية الدولية الآيزو 9001:2015 .</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="130" height="125" src="iso-1.png" class="vc_single_image-img attachment-full" alt="" /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="vc_row wpb_row vc_row-fluid vc_custom_1527379641345">
                        <div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-10">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h1 style="text-align: right;">أخبار المكتب</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="wpb_column vc_column_container vc_col-sm-2">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_right vc_separator_no_text vc_custom_1527379411034  vc_custom_1527379411034">
                                                        <span class="vc_sep_holder vc_sep_holder_l"><span style="border-color:#c9c9c9;" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span style="border-color:#c9c9c9;" class="vc_sep_line"></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="270" height="270" src="image1.jpg" class="vc_single_image-img attachment-full" alt="" srcset="image1.jpg 270w, image1-150x150.jpg 150w" sizes="(max-width: 270px) 100vw, 270px" /></div>
                                        </figure>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h3 style="text-align: right;">لقاء الأحبة الثامن السنوي مكتب التعليم بالنسيم</h3>
                                        </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: right;">آخر أخبار مكتب التعليم بالنسيم من فعاليات و أحداث ومتابعة سير آخر أخبار مكتب التعليم بالنسيم من فعاليات و أحداث ومتابعة سير</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h3 style="text-align: right;">لقاء الأحبة الثامن السنوي مكتب التعليم بالنسيم</h3>
                                        </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: right;">آخر أخبار مكتب التعليم بالنسيم من فعاليات و أحداث ومتابعة سير آخر أخبار مكتب التعليم بالنسيم من فعاليات و أحداث ومتابعة سير</p>
                                        </div>
                                    </div>
                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="270" height="270" src="image1.jpg" class="vc_single_image-img attachment-full" alt="" srcset="image1.jpg 270w, image1-150x150.jpg 150w" sizes="(max-width: 270px) 100vw, 270px" /></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="270" height="270" src="image1.jpg" class="vc_single_image-img attachment-full" alt="" srcset="image1.jpg 270w, image1-150x150.jpg 150w" sizes="(max-width: 270px) 100vw, 270px" /></div>
                                        </figure>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h3 style="text-align: right;">لقاء الأحبة الثامن السنوي مكتب التعليم بالنسيم</h3>
                                        </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: right;">آخر أخبار مكتب التعليم بالنسيم من فعاليات و أحداث ومتابعة سير آخر أخبار مكتب التعليم بالنسيم من فعاليات و أحداث ومتابعة سير</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h3 style="text-align: right;">لقاء الأحبة الثامن السنوي مكتب التعليم بالنسيم</h3>
                                        </div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: right;">آخر أخبار مكتب التعليم بالنسيم من فعاليات و أحداث ومتابعة سير آخر أخبار مكتب التعليم بالنسيم من فعاليات و أحداث ومتابعة سير</p>
                                        </div>
                                    </div>
                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="270" height="270" src="image1.jpg" class="vc_single_image-img attachment-full" alt="" srcset="image1.jpg 270w, image1-150x150.jpg 150w" sizes="(max-width: 270px) 100vw, 270px" /></div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- .entry-content -->
            </article><!-- #post-## -->*@
            <div class="clearfix"></div>

        </div>

        <footer class="met_bgcolor3 clearfix">
            <div class="met_content">
                <div class="row-fluid">
                    <div class="span4">
                    </div>
                    <div class="span8">
                        <ul class="met_footer_menu">
                            <li><a class="met_color2" href="http://naseemedu.org/" target="">الصـفحـة الرئيسيــة</a></li>
                            <li><a class="met_color2" href="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/" target="">مكتب التعليم بالنسيم</a></li>
                            <li><a class="met_color2" href="http://naseemedu.org/contact/" target="">تواصل معنا</a></li>
                        </ul>
                        <select class="met_responsive_nav">
                            <option value="http://naseemedu.org/">الصـفحـة الرئيسيــة</option>
                            <option value="http://naseemedu.org/%d9%85%d9%83%d8%aa%d8%a8-%d8%a7%d9%84%d8%aa%d8%b9%d9%84%d9%8a%d9%85-%d8%a8%d8%a7%d9%84%d9%86%d8%b3%d9%8a%d9%85/">مكتب التعليم بالنسيم</option>
                            <option value="http://naseemedu.org/contact/">تواصل معنا</option>
                        </select>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    <div id="back-to-top" class="off back-to-top-off"></div>
    <script>
	jQuery(document).ready(function(){
		if(jQuery('body').attr('data-smooth-scrolling') == 1 && !jQuery.browser.mobile){
			jQuery("html").niceScroll({
				scrollspeed: 60,
				mousescrollstep: 35,
				cursorwidth: 10,
				cursorborder: '1px solid #7E8A96',
				cursorcolor: '#029e90',
				cursorborderradius: 10,
				autohidemode: false,
				cursoropacitymin: 0.1,
				cursoropacitymax: 1
			});
		}
	})
    </script>
    <div style="display: none;"><a href="http://inoplugs.com">WP-Backgrounds Lite by InoPlugs Web Design</a> and <a href="http://schoenmann.at/">Juwelier Sch&ouml;nmann 1010 Wien</a></div>
    <script type="text/javascript">
				function revslider_showDoubleJqueryError(sliderID) {
					var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
					errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
					errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
					errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
					errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
						jQuery(sliderID).show().html(errorMessage);
				}
    </script>
    <link rel='stylesheet' id='font-awesome-css' href='~/Assets/css/font-awesome.min_fuQQUr.css?ver=5.4.7' type='text/css' media='all' />
    <script type='text/javascript' src='~/Assets/js/aqpb-view.js?ver=1542774568'></script>
    <script type='text/javascript' src='~/Assets/js/jquery.form.min.js?ver=3.46.0-2013.11.21'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/naseemedu.org\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Assets/js/scripts.js?ver=3.6'></script>
    <script type='text/javascript' src='~/Assets/js/jquery.flexslider-min.js?ver=5.4.7'></script>
    <script type='text/javascript' src='~/Assets/js/masonry.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/isotope.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/retina.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/nicescroll.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/jquery.dlmenu.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/jquery.knob.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/jquery.easing.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/bootstrap.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/custom.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/wp-embed.min.js?ver=4.9.5'></script>
    <script type='text/javascript' src='~/Assets/js/js_composer_front.min.js?ver=5.4.7'></script>
</body>
</html>