/*
Theme Name: naseemedu
Theme URI: http://360-digital.com
Author: naseemedu
Author URI: http://360-digital.com/
Version: 1.0.1
Description: naseemedu Theme
License: GNU General Public License
License URI: license.txt
Tags: custom-header, custom-background, custom-menu, flexible-width, full-width-template, post-formats, theme-options
*/

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}



/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.entry-content,
.entry-summary {
	margin: 0;
    min-height: 40px;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-content .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-content .gallery dd {
	margin: 0;
}
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-content [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .next {
	float: right;
	text-align: right;
	width: 50%;
}

/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

/* =Widgets
----------------------------------------------- */

.widget {

}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .submit {
	display: none;
}

/*-------------------------------
	Metro Sidebar Components
 ------------------------------*/
.sidebar-widget {
    margin-bottom: 10px;
}

.sidebar-widget ul {
    margin-left: 5px;
}

.sidebar-widget ul li {
    font-size   : 14px;
    list-style: none;
}

.sidebar-widget ul li:after {
    display: block;
    clear: both;
    content: '';
}

.sidebar-widget ul li .children {
    margin-left: 20px;
}

.sidebar-widget ul li a {
    /*font-size   : 18px;
    line-height : 36px;*/
}

.sidebar-widget ul li a:hover {

}

.sidebar-widget select {
    width: 100%;
    margin-top: 5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-size   : 13px;
}

.widget_calendar table {
    width: 100%;
    float: left;
    color: #FFFFFF;
}

.widget_calendar table a{
    margin-top: 0;
    padding-top: 0;
}

.widget_calendar table caption {
    font-size: 14px;
    padding: 10px 0;
}

.widget_calendar table tr td {
    text-align: center;
}

.widget_rss a.rsswidget:last-child {
    color: #FFFFFF;
}

.widget_rss li a.rsswidget {
    display: block;
    float: left;
    width: 100%;
    line-height: 15px;
    margin: 15px 0;
}

.widget_rss .rsswidget img {
    display: none;
}

.widget_rss cite {
    display: block;
    float: left;
    width: 100%;
    text-align: right;
    color: #000;
    font-size: 12px;
    margin-top: 5px;
}

.widget_rss .rss-date {
    display: block;
    float: left;
    width: 100%;
    font-size: 10px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.widget_rss .rssSummary {
    display: block;
    float: left;
    width: 100%;
    font-size: 12px;
}

.widget_search #searchform {
    margin: 0;
}

.widget_search input[type="search"]{
    width: 92%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 10px;
}

.n_metro_title {
    float   : left;
    width   : 100%;
    color   : #FFFFFF;
    display : table;
    height  : 40px;
}

.n_metro_title:hover {
    text-decoration : none;
}

.n_metro_title span:first-child {
    background-color : rgba(91, 96, 96, 0.1);
    display          : table-cell;
    width            : 40px;
    height           : 40px;
    vertical-align   : middle;
    text-align       : center
}

.n_metro_title span:last-child {
    font-size   : 14px;
    line-height : 40px;
    margin-left : 15px;
}

/*-------------------------------
Metro Sidebar Categories Box
------------------------------*/
/*.widget_categories ul {
    float      : left;
    width      : 100%;
    margin     : 10px 0;
    list-style : none;
}

.widget_categories ul li {
    list-style: none;
    float: left;
    display: block;
    width: 100%;
}

.widget_categories ul li:last-child a {
    border-bottom : none;
}

.widget_categories a {
    position: relative;
    float: left;
    display: block;
    text-decoration: none;
    width: 100%;
    line-height: 36px;
    height: 36px;
    border-bottom: 1px solid #292929;
    font-size: 18px;
    color: #595959;
    -webkit-transition: color ease 0.3s;
    -moz-transition: color ease 0.3s;
    -ms-transition: color ease 0.3s;
    -o-transition: color ease 0.3s;
}

.widget_categories a:after {
    position: absolute;
    right: 2px;
    top: 0;
    display: block;
    font-family: FontAwesome;
    content: '\f054';
    line-height: 36px;
    height: 36px;
    font-size: 9px;
    color: #595959;
    -webkit-transition: color ease 0.3s;
    -moz-transition: color ease 0.3s;
    -ms-transition: color ease 0.3s;
    -o-transition: color ease 0.3s;
}

.widget_categories a:hover {
    color           : #000000;
}

.widget_categories a i {
    float      : right;
    margin-top : 11px
}*/

/*-------------------------------
Metro Sidebar Recent Work Box
------------------------------*/
.n_recent_work {
    position   : relative;
    float      : left;
    width      : 100%;
    margin-top : 3px;
}

.n_recent_work .n_recent_work_shadow {
    position         : absolute;
    left             : -9px;
    bottom           : -11px;
    width            : 164px;
    height           : 88px;
    background-image : url('../img/recent-work-shadow.png');
}

/*-------------------------------
Metro Sidebar Recent Posts Box
------------------------------*/
.n_recent_posts {
    float  : left;
    margin : 0;
}

.n_recent_posts li {
    float            : left;
    width            : 100%;
    background-color : #F2F2F2;
    margin-top       : 3px;
    list-style       : none;
}

.n_recent_posts a {
    display            : block;
    padding            : 15px 10px;
    -webkit-transition : all ease 0.3s;
    -moz-transition    : all ease 0.3s;
    -ms-transition     : all ease 0.3s;
    -o-transition      : all ease 0.3s;
}

.n_recent_posts a:hover {
    background-color : #00AAAA;
    text-decoration  : none;
}

.n_recent_posts a:hover h4,
.n_recent_posts a:hover p {
    color : #FFFFFF;
}

.n_recent_posts img {
    float   : left;
    width   : 50px;
    height  : 50px;
    display : block;
}

.n_recent_posts h4,
.n_recent_posts p {
    margin-left : 58px;
}

.n_recent_posts h4 {
    margin-top    : 0;
    color         : #151719;
    margin-bottom : 4px;
}

.n_recent_posts p {
    color         : #5B6A6F;
    font-size     : 10px;
    margin-bottom : 0;
}

/*-------------------------------
Metro Sidebar Tag Cloud Box
------------------------------*/
.tagcloud {
    margin-top: 20px;
}

.tagcloud a {
    font-size          : 13px!important;
    margin             : 0 2.5px;
    display            : inline-block;
    color: #FFFFFF;
    text-decoration    : none;
    color              : #FFF;
    padding: 4px 14px;
    background-color: #A4AEB9;
    -webkit-transition : all ease 0.3s;
    -moz-transition    : all ease 0.3s;
    -ms-transition     : all ease 0.3s;
    -o-transition      : all ease 0.3s;
}

.tagcloud a:first-child{
    margin-left: 0;
}

.tagcloud a:hover {
    background-color: #50535A;
    text-decoration: none;
}

.format-quote {
    margin-bottom: 20px !important;
}

.flexslider .slides {
    background: #171717;
}

.form-allowed-tags code {
    background: none !important;
    border: none;
    font-size: 12px;
    white-space: normal;
}

.comment-list, .comment-list > ul, .comment-list > li, .comment-list li[class*="depth"] {
    list-style: none;
}

.comment-list .children li {
    margin-bottom: 20px;
}

.footer-widget {
    margin-bottom: 20px !important;
}

#back-to-top {
    height                      : 9px;
    opacity                     : 0;
    filter                      : alpha(opacity=0);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position                    : fixed;
    right                       : -50px;
    width                       : 49px;
    z-index                     : 9999;
    display                     : block;
    top                         : 85%;
    background-image            : url("/Assets/img/back_to_top.png");
    background-repeat           : no-repeat;
    background-position         : center 15px;
    background-color            : #404040;
    font-size                   : 9px;
    font-weight                 : 900;
    color                       : #FFFFFF;
    text-align                  : center;
    line-height                 : 1;
    padding                     : 28px 0 12px 0;
    -webkit-border-radius       : 2px;
    -moz-border-radius          : 2px;
    border-radius               : 2px;
    -webkit-transition          : all ease .3s;
    -moz-transition             : all ease .3s;
    -ms-transition              : all ease .3s;
    -o-transition               : all ease .3s;
    cursor                      : pointer;
    -webkit-backface-visibility : hidden;
}

#back-to-top.back-to-top-on {
    right   : 10px;
    opacity : 0.7;
    filter  : alpha(opacity=70);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=70)";
}



#back-to-top.back-to-top-off {
    right : -59px
}


/*-------------------------------
MOLA Changes
------------------------------*/

.met_bgcolor-about {
	background: none!important;
}


.met_bgcolor5 {
 	background: url("bg.jpg") no-repeat !important;
}

.met_blog_categories{
 	background: url("menu-bg.png") no-repeat !important;
}
.met_blog_categories a{
	color:#FFF;
	font-size:12px;
 	 
}
.met_title_stack {
	margin-bottom:10px !important;
	padding-bottom:10px !important;
 	 
}
.submenulink a{
	font-size:15px !important;
 	 
}






.submenulink ul {
list-style-type: none;
padding: 0;
}
.submenulink ul li {
position: relative;

}

.submenulink ul li ul {
margin: 0px;
padding: 0px;
list-style-type: none;
display:none;
}
.submenulink .current_page_item > ul{
margin: 0px;
padding: 0px;
list-style-type: none;
display: block;


}
.submenulink .current_page_item {
margin: 0px;
padding: 0px;
list-style-type: none;
display: block;


}
.submenulink ul li ul li a {
margin-right: 20px;
font-size:13px !important;
padding-right: 5px;

}
.submenulink ul li ul li{
background: rgba(44,44,44,0.1) url(bullets2.png) no-repeat 203px 16px ; /* This image is can be found here: https://github.com/twitter/bootstrap/blob/master/img/glyphicons-halflings.png */

}
.submenulink ul li ul li ul li a {
margin-right: 40px;
font-size:13px !important;
background: url(bullets2.png) no-repeat 155px ; /* This image is can be found here: https://github.com/twitter/bootstrap/blob/master/img/glyphicons-halflings.png */


}
.submenulink ul li a {
display: block;
clear: both;
font-weight: normal;
white-space: nowrap;
}
.submenulink ul li a:after {
content: "";
display: block;
width: 15px;
height: 15px;
background: url(/Assets/img/bullets.png) no-repeat 55px ; /* This image is can be found here: https://github.com/twitter/bootstrap/blob/master/img/glyphicons-halflings.png */
position: absolute;
top: 13px;
left: 19px;
filter: alpha(opacity=100);
-moz-opacity: 0.3;
-khtml-opacity: 0.3;
opacity: 0.3;
}
.submenulink ul li:first-child {
}

#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}
 
#breadcrumbs li{
    float:right;
    margin-left:15px;
}
 
#breadcrumbs .separator{
    font-weight:700;
    font-size:20px;
    color:#999;
}

.btn_event_form_submit{
	
	
}

.arcoma-brands {
	float:right; 
	height:140px; 
	width:170px; 
	padding:8px;
	margin:8px; 
	vertical-align:top; 
	display:block; 
	text-align:center display:block; 
	text-align:center; 
	background:rgba(255,255,255,1); 
	box-shadow: 1px 1px 6px rgba(153, 153, 153);
	}
.brands-title{
	width:100%;
	height:15% ;
	text-align:center;
}	
.brands-logo{
	width:100%; 
	height:70% ;
	text-align:center;
	
}	
.brands-link-div{
	width:100%; 
	height:15% ;
	text-align:center;
	
}	

.widget_categories {
	margin-top:90px;
	
	}
	
.met_open_tab ul li{
	font-size:14px !important;
	 
	
	}
	

.wpcf7-not-valid-tip-no-ajax
{
	line-height:18px !important;	 
	
	}

