.wpsc-box {
    float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	*behavior: url(boxsizing.htc.txt);
    display:inline-block;           
    border:1px solid #333333;
	position: relative;
	height: 200px !important; width: 200px !important;
	background-color:#FFF;
	font-size:12px;
	margin:4px !important;
	line-height:15px !important;
}

.wpsc-box img {
	border: none;
	box-shadow: 0 0 0 transparent !important;
	border-radius: none !important;
	width:125px !important;
	height:125px !important;
	position: absolute; top: 35px; left: 38px; width: 125px; height: 125px;
}


.wpsc-slider-box {    
    border:1px solid #333333;
	position: relative;
}

.wpsc-sliderbox img {
	border: none;
	box-shadow: 0 0 0 transparent !important;
	border-radius: none !important;
}

.wpsc-no-border {
	border: none !important;
}

.wpsc-no-border .wpsc-box {
	border: none !important;
}

.slides-no-border div {
	border: none !important;
}

.wpsc-box-2 {
    width: 50%;
}

.wpsc-box-3 {
    width: 33.33%;
}

.wpsc-box-4 {
	height: 200px !important; width: 200px !important;
	margin:4px !important;
	line-height:19px !important;


}

.wpsc-box-5 {
	width: 20%;
}

.wpsc-box-6 {
	width: 16.66%;
}

.wpsc-outer {
    height: auto;
  
}

.wpsc-clear {
	clear: both;
}

.wpsc-bg {
    visibility: hidden;
    position: absolute;
	height: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
	background-image:url('wpsc-bg.png');
	background-repeat: repeat;
    text-align: center;
	filter: alpha(opacity=50);
	opacity:0.5;
    -webkit-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	-moz-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	-o-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	-ms-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}
.wpsc-box:hover .wpsc-bg {
    visibility: visible;
	height: 100%;
	filter: alpha(opacity=50);
	opacity:1;
    -webkit-transition-delay: 0s;
	-moz-transition: 0s;
	-o-transition: 0s;
	-ms-transition: 0s;
	transition: 0s;
}

.wpsc-slider-box:hover .wpsc-bg {
    visibility: visible;
	height: 100%;
	filter: alpha(opacity=50);
	opacity:1;
    -webkit-transition-delay: 0s;
	-moz-transition: 0s;
	-o-transition: 0s;
	-ms-transition: 0s;
	transition: 0s;
}

.wpsc-text {
    visibility: hidden;
    position: absolute;
	height: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
	color: white;
	padding: 5%;
    -webkit-transition: visibility 0s linear 0.5s;
	-moz-transition: visibility 0s linear 0.5s;
	-o-transition: visibility 0s linear 0.5s;
	-ms-transition: visibility 0s linear 0.5s;
	transition: visibility 0s linear 0.5s;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	*behavior: url(boxsizing.htc.txt);
}
.wpsc-box:hover .wpsc-text {
    visibility: visible;
    -webkit-transition-delay: 0s;
	-moz-transition: 0s;
	-o-transition: 0s;
	-ms-transition: 0s;
	transition: 0s;
}

.wpsc-slider-box:hover .wpsc-text {
    visibility: visible;
    -webkit-transition-delay: 0s;
	-moz-transition: 0s;
	-o-transition: 0s;
	-ms-transition: 0s;
	transition: 0s;
}

.wpsc-text a {
	color: white;
}

.wpsc-text .wpsc-heading {
	color: white;
	margin: 0px;
	
}
.wpsc-heading {
	font-size:18px;
	line-height:21px;	
}
.wpsc-box:hover > img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.wpsc-slider-box:hover > img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

/* Responsive stuff */

@media screen and (max-width: 767px) {
	.wpsc-box-3 {
		width: 50%;
	}

	.wpsc-box-4 {
		width: 50%;
	}

	.wpsc-box-5 {
		width: 33%;
	}

	.wpsc-box-6 {
		width: 33%;
	}
}

/* Flexslider */

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
 
 /* Custom */

 .wpsc-container .slides > li { margin: 5px !important; }
 
 .wpsc-container .flexslider ul { margin-top: 5px !important; margin-bottom: 5px !important;}
 
/* Browser Resets */
.wpsc-container .flex-container a:active,
.wpsc-container .flexslider a:active,
.wpsc-container .flex-container a:focus,
.wpsc-container .flexslider a:focus  {outline: none;}
.wpsc-container .slides,
.wpsc-container .flex-control-nav,
.wpsc-container .flex-direction-nav {margin: 0; padding: 0; list-style: none !important;} 

/* FlexSlider Necessary Styles
*********************************/ 
.wpsc-container .flexslider {margin: 0; padding: 0;}
.wpsc-container .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.wpsc-container .flexslider .slides img {width: 100%; display: block;}
.wpsc-container .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.wpsc-container .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.wpsc-container .no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.wpsc-container .flexslider {margin: 0px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}
.wpsc-container .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.wpsc-container .loading .flex-viewport {max-height: 300px;}
.wpsc-container .flexslider .slides {zoom: 1;}

.wpsc-container .carousel li {margin-right: 5px}


/* Direction Nav */
.wpsc-container .flex-direction-nav {/* height: 0; display: none; */}
.wpsc-container .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.wpsc-container .flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.wpsc-container .flex-direction-nav .flex-prev {left: -36px;}
.wpsc-container .flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.wpsc-container .flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.wpsc-container .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.wpsc-container .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.wpsc-container .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.wpsc-container .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.wpsc-container .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.wpsc-container .flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.wpsc-container .flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.wpsc-container .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.wpsc-container .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.wpsc-container .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.wpsc-container .flex-control-thumbs img:hover {opacity: 1;}
.wpsc-container .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .wpsc-container .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .wpsc-container .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
